{% extends 'blog/base.html' %}
{% block content %}
<head>
<title> User Registration </title>

<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <link href="runnable.css" rel="stylesheet" />
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
  
<body>
  <h1>Register here</h1>

<form action="/user_reg/" id="register-form" method="POST" novalidate="novalidate">{% csrf_token %}
<table>
<tr><td>Username</td><td><input type="text" name="username"></td></tr>
<tr><td>Email</td><td><input type="text" name="email"></td></tr>
<tr><td>Password</td><td><input type="password" name="password"></td></tr>
<tr><td><input type="submit" value="Register" class="submit"></td></tr>
</table>
</form>

</body>
{% endblock %}
